.collage-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin-bottom: 70px;
}

.column {
  padding: 0px 17px;
  display: flex;
  flex-direction: column;
  max-width: 430px;
}

.collage-image {
  /* width: auto; */
  /* height: 100%; */
}

.long-image-box {
  max-height: 686px;
  margin: 17px 0px;
  overflow: hidden;
}

.short-image-box {
  max-height: 322px;
  margin: 17px 0px;
  overflow: hidden;
}

#beach {
  margin: 0 0 0 -30px;
}

#book1 {
  margin: -69px 0 0 -160px;
}

#book2 {
  margin: -20px 0 0 -45px;
}

#pocket {
  float: right;
}

#sunset {
  margin: -170px 0 0 -30px;
}
